<div
  class="dark:bg-dark-bootstrap-transparent dark:text-gray-100 text-green-700 font-ubuntu text-center font-ubuntu font-bold dark:border-gray-700 dark:shadow-2xl mt-10 antialiased top-0 sticky rounded-t-2xl z-40 w-full backdrop-blur glass-drop-effect p-16"
>
  <p class="px-2 text-lg">
    &copy; 2022 Copyright Thrifty.
    <span class="inline mx-1"> | </span>
    <a
      href="http://gpmumbai.ac.in"
      class="hover:text-green-500 dark:hover:text-gray-300 hover:underline"
      >Designed By Students of Government Polytechnic Mumbai.</a
    >
  </p>
  <p class="px-2 text-lg pt-5">
    <a
      routerLink="/privacy-policy"
      class="hover:text-green-500 dark:hover:text-gray-300 hover:underline"
      >Privacy Policy</a
    >
    <span class="inline mx-1"> | </span>
    <a
      routerLink="/about"
      class="hover:text-green-500 dark:hover:text-gray-300 hover:underline"
    >
      About Us
    </a>
    <span class="inline mx-1"> | </span>
    <a
      routerLink="/contact"
      class="hover:text-green-500 dark:hover:text-gray-300 hover:underline"
      >Contact</a
    >
  </p>
</div>
