<div
  class="bg-white antialiased top-0 sticky text-gray-700 z-40 w-full backdrop-blur h-36"
  style="
    background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  "
>
  <p class="py-12 text-center px-4">
    &copy; 2022 Copyright Thrifty. |
    <a href="http://gpmumbai.ac.in" class="text-yellow-400"
      >Designed By Students of Government Polytechnic Mumbai.</a
    >
  </p>
</div>
