<div class="flex justify-center items-center flex-col">
  <form
    [formGroup]="signupForm"
    (ngSubmit)="signinUser()"
    class="m-8 glass-drop-effect rounded-lg dark:border-gray-700 dark:bg-dark-bootstrap-transparent w-5/6 md:w-4/6 lg:w-5/12 p-10"
  >
    <div *ngIf="!showPopUp" height="1000px" width="100%">&nbsp;</div>
    <div class="text-center">
      <h1
        class="text-6xl text-green-700 font-ubuntu font-bold mb-10 mt-20 dark:text-gray-300"
      >
        Sign up
      </h1>
      <p class="text-xl mb-12 text-green-700 dark:text-gray-300">
        Join us to receive email notifications for products you like. Completely
        optional.
      </p>

      <input
        id="email"
        type="text"
        formControlName="email"
        placeholder="Email"
        autocomplete="on"
        class="block text-center rounded-md border-none shadow-md my-5 mx-auto w-full md:w-96 text-green-900 font-poppins font-semibold opacity-60 bg-teal dark:opacity-95"
      />
      <input
        id="password"
        type="password"
        autocomplete="off"
        formControlName="password"
        placeholder="Password"
        class="block text-center rounded-md border-none shadow-md my-5 mx-auto w-full md:w-96 text-green-900 font-poppins font-semibold opacity-60 bg-teal dark:opacity-95"
      />
      <button
        type="submit"
        class="dark:bg-teal-600 bg-green-500 text-white shadow-lg font-poppins font-bold px-3 py-2 rounded-lg mt-5 my-12"
      >
        Submit
      </button>
    </div>
  </form>
  <div *ngIf="showPopUp" class="flex justify-center animated">
    <div
      id="toast-simple"
      class="opacity-60 dark:opacity-100 flex items-center p-4 space-x-4 bg-white rounded-lg shadow-lg dark:bg-dark-bootstrap dark:text-white"
      role="alert"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 text-green-400"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
        />
      </svg>

      <p class="pl-1 text-sm font-normal">
        {{ signupMessage }}
      </p>
    </div>
  </div>
</div>
