<div class="flex justify-center items-center flex-col">
  <form
    [formGroup]="logoutForm"
    (ngSubmit)="logoutUser()"
    class="m-8 glass-drop-effect rounded-lg dark:border-gray-700 dark:bg-dark-bootstrap-transparent w-5/6 md:w-3/6 lg:w-5/12 p-3"
  >
    <div *ngIf="showPopUp" class="flex justify-center animated mt-10">
      <div
        id="toast-simple"
        class="opacity-60 dark:opacity-100 flex items-center p-4 space-x-4 bg-white rounded-lg shadow-lg dark:bg-dark-bootstrap dark:text-white"
        role="alert"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-green-400"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
          />
        </svg>

        <p class="pl-1 text-sm font-normal">
          {{ message }}
        </p>
      </div>
    </div>

    <div class="text-center">
      <h1
        class="text-6xl text-green-700 font-ubuntu font-bold mb-10 mt-20 dark:text-gray-300"
      >
        Logout
      </h1>
      <p class="text-xl mb-12 text-green-700 dark:text-gray-300">
        Log out of your account. You may miss price notifications for your
        favorite products.
      </p>

      <button
        type="submit"
        class="dark:hover:bg-teal-600 dark:shadow-lg dark:bg-teal-500 dark:text-white bg-green-500 text-white shadow-lg font-poppins font-bold px-3 py-2 rounded-lg mt-5 my-12"
      >
        Logout
      </button>
    </div>
  </form>
</div>
