<form [formGroup]="logoutForm" (ngSubmit)="logoutUser()" class="mb-8">
  <div class="text-center">
    <h1 class="text-6xl font-ubuntu font-bold my-10 mt-20">Logout</h1>
    <p class="text-xl mb-20 text-gray-600">
      Log out of your account. You may miss price notifications for your
      favorite products.
    </p>

    <button
      type="submit"
      class="bg-yellow-300 px-4 py-3 rounded-lg mt-5 text-lg hover:bg-[#FBDF07] my-12 mb-"
    >
      Logout
    </button>
  </div>

  <div *ngIf="showPopUp" class="flex justify-center">
    <div
      id="toast-simple"
      class="flex items-center p-4 space-x-4 w-full max-w-xs text-gray-500 bg-white rounded-lg divide-x divide-gray-200 shadow dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800"
      role="alert"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 text-green-400"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
        />
      </svg>

      <p class="pl-4 text-sm font-normal">{{ message }}</p>
    </div>
  </div>
</form>
