<div
  class="p-4 m-12 glass-drop-effect rounded-lg dark:border-gray-700 dark:bg-dark-bootstrap-transparent"
>
  <h1
    class="text-green-700 dark:text-gray-300 text-6xl mt-10 font-bold font-ubuntu text-center"
  >
    About Us
  </h1>
  <p
    class="text-green-700 dark:text-gray-300 py-10 sm:px-5 sm:text-base md:px-10 md:text-lg text-center"
  >
    <strong>Thrifty</strong> is an free and open sourced project built to offer
    cross-site search for e-shopping, AI suggestions for buying products along
    with alert notifications when prices of your favourite products changes. We
    are a group of students from Computer Enginering Department of
    <strong>Government Polytechnic Mumbai</strong>, Maharashtra, India who
    sought to overcome a problem as our Final Year Major Project which we faced
    in Online Shopping. We were given a task in the Course Computer Networks to
    create a theoretical lab with Networking Setup for a budget of 1Lac for 10
    PCs and their networking peripherals with them being of highest quality and
    as well as not over-budget. We found the task very easy but at the same time
    tedious to do so since different products were at different prices at
    different sites and of different qualities. Today majority of people prefer
    to buy-in products quickly from E-commerce giants such as Amazon and
    Flipkart who fluctuate prices for profit. This website was designed to
    provide customers with information about the products they wish to buy and
    also allowing them to find the best price for them across multiple sites.
    All free of cost.
  </p>
</div>

<div class="flex flex-wrap gap-2 text-center justify-center m-4">
  <div
    class="p-10 m-10 text-green-700 dark:text-gray-300 glass-drop-effect rounded-lg dark:border-gray-700 dark:bg-dark-bootstrap-transparent"
    style="width: 25rem"
  >
    <p class="leading-tight text-4xl font-ubuntu font-bold">Naufil Asar</p>
    <p class="text-lg mt-2 z-20">SS20CO023</p>
    <p class="my-4 text-lg">
      Project Lead. Developed entire Frontend & APIs in Angular.
    </p>
    <div class="flex justify-evenly">
      <a
        href="https://github.com/NaufilAsar"
        class="px-4 py-3 hover:scale-125 transition duration-200 hover:bg-custom-teal dark:hover:bg-dark-bootstrap rounded-lg ml-16 cursor-pointer"
      >
        <i class="fa-brands fa-github text-4xl"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/naufil-asar/"
        class="px-4 py-3 hover:scale-125 transition duration-200 hover:bg-custom-teal dark:hover:bg-dark-bootstrap rounded-lg mr-16 cursor-pointer"
      >
        <i class="fa-brands fa-linkedin text-4xl"></i>
      </a>
    </div>
  </div>

  <div
    class="p-10 m-10 text-green-700 dark:text-gray-300 glass-drop-effect rounded-lg dark:border-gray-700 dark:bg-dark-bootstrap-transparent"
    style="width: 25rem"
  >
    <p class="leading-tight text-4xl font-ubuntu font-bold">Sumit Patel</p>
    <p class="text-lg mt-2 z-20">SS20CO058</p>
    <p class="my-4 text-lg">
      Developed Backend engine & deployed it on server.
    </p>
    <div class="flex justify-evenly">
      <a
        href="https://github.com/Dark-Kernel"
        class="px-4 py-3 hover:scale-125 transition duration-200 hover:bg-custom-teal dark:hover:bg-dark-bootstrap rounded-lg ml-16 cursor-pointer"
      >
        <i class="fa-brands fa-github text-4xl"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/sumit-patel-aa6264240/"
        class="px-4 py-3 hover:scale-125 transition duration-200 hover:bg-custom-teal dark:hover:bg-dark-bootstrap rounded-lg mr-16 cursor-pointer"
      >
        <i class="fa-brands fa-linkedin text-4xl"></i>
      </a>
    </div>
  </div>

  <div
    class="p-10 m-10 text-green-700 dark:text-gray-300 glass-drop-effect rounded-lg dark:border-gray-700 dark:bg-dark-bootstrap-transparent"
    style="width: 25rem"
  >
    <p class="leading-tight text-4xl font-ubuntu font-bold">Saaem Shaikh</p>
    <p class="text-lg mt-2 z-20">SS20CO001</p>
    <p class="my-4 text-lg">
      Software Tester. Made unit tests for entire project.
    </p>
    <div class="flex justify-evenly">
      <a
        href="https://github.com/Dark-Kernel"
        class="px-4 py-3 hover:scale-125 transition duration-200 hover:bg-custom-teal dark:hover:bg-dark-bootstrap rounded-lg ml-16 cursor-pointer"
      >
        <i class="fa-brands fa-github text-4xl"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/saaem-shaikh-02a036242/"
        class="px-4 py-3 hover:scale-125 transition duration-200 hover:bg-custom-teal dark:hover:bg-dark-bootstrap rounded-lg mr-16 cursor-pointer"
      >
        <i class="fa-brands fa-linkedin text-4xl"></i>
      </a>
    </div>
  </div>

  <div
    class="p-10 m-10 text-green-700 dark:text-gray-300 glass-drop-effect rounded-lg dark:border-gray-700 dark:bg-dark-bootstrap-transparent"
    style="width: 25rem"
  >
    <p class="leading-tight text-4xl font-ubuntu font-bold">Uzair Syed</p>
    <p class="text-lg mt-2 z-20">SS20CO010</p>
    <p class="my-4 text-lg">
      Systems Developer. Developed high level design plans and reasearch.
    </p>
    <div class="flex justify-evenly">
      <a
        href="https://github.com/NaufilAsar"
        class="px-4 py-3 hover:scale-125 transition duration-200 hover:bg-custom-teal dark:hover:bg-dark-bootstrap rounded-lg ml-16 cursor-pointer"
      >
        <i class="fa-brands fa-github text-4xl"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/uzair-syed-a31308256/"
        class="px-4 py-3 hover:scale-125 transition duration-200 hover:bg-custom-teal dark:hover:bg-dark-bootstrap rounded-lg mr-16 cursor-pointer"
      >
        <i class="fa-brands fa-linkedin text-4xl"></i>
      </a>
    </div>
  </div>
</div>
