<div class="flex items-center justify-center flex-col p-10">
  <div
    class="text-custom-dark-teal dark:text-gray-300 m-10 glass-drop-effect rounded-lg dark:border-gray-700 dark:bg-dark-bootstrap-transparent w-full md:w-9/12 lg:w-7/12 p-3 md:p-10"
  >
    <p class="my-2 text-xl">Price History of</p>
    <h3 class="text-2xl mt-5 font-semibold text-center">
      <!-- Capitalize First Letter -->
      {{ product.title.charAt(0).toUpperCase() + product.title.slice(1) }}
    </h3>

    <img
      loading="lazy"
      style="
        margin: 2.5rem auto;
        max-width: 400px;
        max-height: 450px;
        width: auto;
        height: auto;
        border-radius: 13%;
      "
      src="{{ product.href }}"
      alt="{{ product.title }}"
    />

    <div class="price-info text-center text-lg">
      <p>
        Current Price* <span class="font-semibold">{{ product.price }}</span>
      </p>
      <p *ngIf="this.product.mrp != this.product.price">
        Current MRP*
        <s
          *ngIf="this.product.mrp != this.product.price; else oth"
          class="font-semibold"
        >
          {{ product.mrp }}
        </s>
        <ng-template #oth>{{ product.mrp }}</ng-template>
      </p>
      <p class="my-6">*Last updated a few minutes ago</p>

      <h1 class="text-2xl text-center font-semibold underline mt-20">
        Specfications:
      </h1>
      <div
        *ngFor="let p of specs | keyvalue"
        class="flex justify-evenly ml-8 my-3"
      >
        <!-- <p class="text-base inline-block">{{ p.key }}:</p> -->
        <p class="text-base mr-auto">{{ p.key }} : {{ p.value }}</p>
      </div>
    </div>
  </div>
  <div
    class="text-custom-dark-teal dark:text-gray-300 m-10 glass-drop-effect rounded-lg dark:border-gray-700 dark:bg-dark-bootstrap-transparent w-full md:w-9/12 lg:w-7/12 p-3 md:p-10 lg:p-28"
  >
    <div class="my-4">
      <canvas
        baseChart
        width="500"
        height="400"
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
      >
      </canvas>
    </div>
    <h1 class="text-2xl font-semibold underline mt-10">
      Get a Price Alert for this product:
    </h1>
    <div *ngIf="this.authService.userLoggedIn; else notLoggedIn" class="my-5">
      Would you like to receive email notifications for price changes on the
      product '{{ product.title }}'
      <button
        (click)="subscribe()"
        class="py-2 px-3 block my-5 dark:bg-teal-600 cursor-pointer mx-auto bg-green-500 hover:bg-green-600 text-white shadow-lg font-poppins font-bold rounded-lg"
      >
        Yes
      </button>
    </div>
    <ng-template #notLoggedIn>
      Please log in first to be able to receive email notifications
    </ng-template>

    <div *ngIf="showPopUp" class="flex justify-center animated">
      <div
        id="toast-simple"
        class="dark:opacity-100 flex items-center p-4 space-x-4 bg-white rounded-lg shadow-lg dark:bg-dark-bootstrap dark:text-white"
        role="alert"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-green-400"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
          />
        </svg>

        <p class="pl-1 text-sm font-normal">
          {{ message }}
        </p>
      </div>
    </div>
  </div>
</div>
