<div class="main-wrapper">
  <!-- Logo Title -->
  <div id="logo" class="flex space-x-2 items-center justify-center my-12">
    <svg
      class="h-16 w-16 text-custom-dark-teal dark:text-teal-500"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      transform="rotate(20)"
    >
      <path
        fill-rule="evenodd"
        d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 004.25 22.5h15.5a1.875 1.875 0 001.865-2.071l-1.263-12a1.875 1.875 0 00-1.865-1.679H16.5V6a4.5 4.5 0 10-9 0zM12 3a3 3 0 00-3 3v.75h6V6a3 3 0 00-3-3zm-3 8.25a3 3 0 106 0v-.75a.75.75 0 011.5 0v.75a4.5 4.5 0 11-9 0v-.75a.75.75 0 011.5 0v.75z"
        clip-rule="evenodd"
      />
    </svg>
    <h1
      class="text-5xl font-ubuntu font-bold text-green-700 dark:text-gray-300"
    >
      Thrifty
    </h1>
  </div>
  <!-- Search Bar -->

  <form
    class="flex justify-center items-center mx-8 md:mx-auto md:w-7/12 gap-2"
  >
    <input
      id="search_box"
      type="text"
      [formControl]="search_bar"
      placeholder="Search.."
      class="block text-center rounded-md border-none shadow-md my-5 mx-auto w-full text-green-900 font-poppins font-semibold opacity-60 bg-teal dark:opacity-95"
    />
    <button
      id="search_btn"
      type="button"
      (click)="onClickSearch()"
      class="w-10 h-10 dark:bg-teal-500 bg-custom-dark-teal active:bg-emerald-600 dark:active:bg-teal-600 text-gray-200 rounded-md shadow-md"
    >
      <fa-icon [icon]="search_icon"></fa-icon>
    </button>
  </form>

  <!-- Ad Section -->
  <div
    class="animations text-green-700 dark:text-gray-300"
    [hidden]="hideSectionAnimations"
  >
    <!-- Meaning -->
    <div class="mx-3">
      <h3 class="text-3xl mt-10 font-bold text-center font-poppins">
        We are thrifty because
      </h3>
      <div
        class="flex justify-center flex-col my-5 mx-auto rounded-md opacity-70 dark:opacity-100 bg-white w-fit text-green-700 dark:text-green-900"
      >
        <p
          style="font-family: Arial, Helvetica, sans-serif"
          class="my-3 text-lg mx-5"
        >
          thrifty means showing a careful use of money, especially by avoiding
          waste
        </p>
        <p class="ml-5 mb-3">~Cambridge Dictionary</p>
      </div>
    </div>

    <!-- Animations -->

    <div class="flex flex-col items-center">
      <div class="bg-transparent rounded-lg p-3 md:w-8/12 mx-3 my-10">
        <p class="text-2xl font-poppins font-bold my-5 text-center">
          We make your task to search hundreds of websites for the best price
          <span class="underline">simple.</span>
        </p>
        <ng-lottie
          height="300px"
          [options]="{ path: 'assets/anim/thinking-ad.json' }"
        ></ng-lottie>
      </div>

      <div class="bg-transparent rounded-lg p-3 md:w-8/12 mx-3 my-10">
        <p class="text-2xl font-poppins font-bold my-5 text-center">
          <span class="underlined">Track</span> Price With Historical Price
          Chart
        </p>
        <ng-lottie
          height="300px"
          [options]="{ path: 'assets/anim/price-down.json' }"
        ></ng-lottie>
      </div>

      <div class="bg-transparent rounded-lg p-3 md:w-8/12 mx-3 my-10">
        <p class="text-2xl font-poppins font-bold my-5 text-center">
          All of that for <span class="underlined">free.</span> Without your
          data being compromised.
        </p>
        <ng-lottie
          height="300px"
          [options]="{ path: 'assets/anim/free-box.json' }"
        ></ng-lottie>
      </div>
    </div>
  </div>
</div>
