<div class="flex justify-center items-center flex-col">
  <h1
    class="text-5xl text-center text-green-700 font-ubuntu font-bold mb-10 mt-20 dark:text-gray-300"
  >
    Got Questions? Look Here
  </h1>

  <form
    action="https://formspree.io/f/xknekoab"
    method="post"
    [formGroup]="contactForm"
    class="m-8 glass-drop-effect rounded-lg dark:border-gray-700 dark:bg-dark-bootstrap-transparent w-5/6 md:w-3/6 lg:w-5/12 p-3 flex flex-col"
  >
    <p
      class="text-2xl mt-4 mb-12 text-green-700 dark:text-gray-300 text-center"
    >
      Site not working as expected?
    </p>
    <input
      id="email"
      name="email"
      type="text"
      formControlName="email"
      placeholder="Email"
      autocomplete="on"
      class="block text-center rounded-md border-none shadow-md my-2 mx-auto sm:w-4/6 md:w-4/6 lg:w-4/6 text-green-900 font-poppins font-semibold opacity-60 bg-teal dark:opacity-95"
    />
    <br />
    <textarea
      formControlName="body"
      id="body"
      name="body"
      class="block text-center rounded-md border-none shadow-md my-2 mx-auto sm:w-4/6 md:w-4/6 lg:w-4/6 text-green-900 font-poppins font-semibold opacity-60 bg-teal dark:opacity-95"
      name="message"
      rows="4"
      placeholder="Message"
      required="required"
      data-error="Please, write us a message."
    ></textarea>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script>
      function sendEmail() {
        Email.send({
          Host: "smtp.elasticemail.com",
          Username: "bruhcoders@gmail.com",
          Password: "ss51@lpsghgbf",
          To: this.email.value,
          From: "bruhcoders@gmail.com",
          Subject: "Sending Email using javascript",
          Body: "Well that was easy!!",
        })
          .then(function (message) {
            alert("mail sent successfully");
          })
          .catch((err) => console.log(err));
      }
      document.getElementById("btn").addEventListener("click", sendEmail);
    </script>
    <button
      id="btn"
      class="dark:bg-teal-600 mx-auto bg-green-500 text-white shadow-lg font-poppins font-bold px-3 py-2 rounded-lg mt-5 my-12"
    >
      Submit
    </button>
  </form>
</div>
